.cardstyle {
    max-width: 100px;
    width: auto;
    height: auto;
}

.cardLabel {
    padding-top: 1rem;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}